<ion-header>
  <search-bar></search-bar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item *ngFor="let section of sections">
      <h2>{{ section.sectionTitle }}</h2>

      <ion-slides loop slidesPerView="{{ section.nbCards }}">
        <ion-slide *ngFor="let card of section.cards">
          <service 
            [service]= card
          ></service>
        </ion-slide>
      </ion-slides>
    </ion-item> -->

    <ion-item>
      <h2>Trouver un service</h2>
      <ion-slides loop slidesPerView="2">
        <ion-slide *ngFor="let item of categories">
          <categorie 
            [categorie]= item
          ></categorie>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item>
      <h2>Les nouveautés</h2>
      <ion-slides loop slidesPerView="1">
        <ion-slide *ngFor="let item of services">
          <service 
            [service]= item
          ></service>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item>
      <h2>Les ateliers</h2>
      <ion-slides loop slidesPerView="2">
        <ion-slide *ngFor="let item of wokshops">
          <workshop 
            [workshop]= item
          ></workshop>
        </ion-slide>
       </ion-slides>
    </ion-item>
  </ion-list>
</ion-content>
