<ion-header>
    <ion-navbar>
        <ion-title>Mes ateliers</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="selectListBtns">
        <button [ngClass]="{selected: listShown=='futurWS'}" (click)="showList('futurWS')">Bientôt</button>        
        <button [ngClass]="{selected: listShown=='futurHostedWS'}" (click)="showList('futurHostedWS')">Mes ateliers</button>
        <button [ngClass]="{selected: listShown=='pastWS'}" (click)="showList('pastWS')">Ateliers passés</button>
    </div>

    <ion-list *ngIf="listShown=='pastWS'">
        <ion-item *ngFor="let card of pastWS">
            <workshop
                [workshop]= card
            >
            </workshop>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="listShown=='futurWS'">
        <ion-item *ngFor="let card of futurWS">
            <workshop
                [workshop]= card
            >
            </workshop>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="listShown=='futurHostedWS'">
        <ion-item *ngFor="let card of futurHostedWS">
            <workshop
                [workshop]= card
            >
            </workshop>
        </ion-item>
    </ion-list>

    <ion-fab bottom right>
        <button ion-fab (click)="createWorkshop()"><ion-icon name="add"></ion-icon></button>
        <div class="btnLabel">CRÉER UN ATELIER</div>
    </ion-fab>

</ion-content>