<ion-content>
    <div>
        <button (click)="showPastWS(true)">Past</button>
        <button (click)="showPastWS(false)">Soon</button>
    </div>

    <ion-list *ngIf="showPast">
        <ion-item *ngFor="let card of pastWS">
            <ion-card>
                <ion-card-header>
                    {{ card.title }}
                </ion-card-header>
        
                <ion-card-content>
                    {{ card.cat }} <br>
                    {{ card.description }}              
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="!showPast">
        <ion-item *ngFor="let card of futurWS">
            <ion-card>
                <ion-card-header>
                    {{ card.title }}
                </ion-card-header>
        
                <ion-card-content>
                    {{ card.cat }} <br>
                    {{ card.description }}              
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>

</ion-content>