<ion-content>
    <div>
        <button (click)="showPastWS(true)">Past</button>
        <button (click)="showPastWS(false)">Soon</button>
    </div>

    <ion-list *ngIf="showPast">
        <ion-item *ngFor="let card of pastWS">
            <workshop
                [workshop]= card
            >
            </workshop>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="!showPast">
        <ion-item *ngFor="let card of futurWS">
            <workshop
                [workshop]= card
            >
            </workshop>
        </ion-item>
    </ion-list>

    <ion-fab>
        <button ion-fab (click)="createWorkshop()">Add Workshop</button>
    </ion-fab>

</ion-content>