page-myworkshops {
    .selectListBtns {
        padding: 1em;
        display: flex;
        justify-content: space-evenly;
        
        button {
            @include pillBtn();
            box-shadow: $shadow;

            &.selected {
                color: color($colors, secondary);
            }
        }
    }
}