// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/custom-icons";

#gradient {
}

ion-header {
    background: $gradient;
}

ion-searchbar {}

.toolbar-background-md {
    background: transparent;
}
.toolbar-title-md, .back-button.show-back-button, .bar-button-default-md:hover:not(.disable-hover) {
    color: color($colors, light);
}

workshop, categorie, service, page-service {
    ion-card.card-md {
        position: relative;
        height: 175px;
        background-size: cover;
        background-position: center;

        img {
            margin-top: -50%;
            margin-bottom: -50%;          
        }
    }
    ion-card-header {
        background-color: rgba(255, 255, 255, 0.6);
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        & > div {

        }
        .title {
            
        }

        .subTitle {
            color: color($colors, secondary);
            font-weight: bold;
        }
    }
}

ion-navbar {
    text-align: center;
}

ion-title {

    font-size: $font-size-title;
    .toolbar-title-md {
        font-size: inherit;
    }
    h1 {
        margin-top: 0;
        font-size: inherit;
        margin-bottom: 0;
    }
}

.actionBar {
    position: fixed;
    bottom: 56px;
    width: 100%;
    left: 0;
    padding: 1em;
    background: $gradient-left;
    color: white;

    

    div {
        display: inline-block;
        margin-right: 3em;
    }

    button:not(.secondary) {
        @include pillBtn();
    }

    button.secondary {
        @include pillBtnSecondary();
    }
}

.secondaryText {
    @include secondaryText();
}

ion-fab {
    .btnLabel {
        max-width: 56px;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 1em;
    }
}