page-options {
    .item-md {
        margin-bottom: 1em;
        padding-left: 0;
        border: 1px solid color($colors, dark);
    }

    .select-md {
        max-width: 100%;
        width: 100%
    }
}
